#titulo {
    background-color: rgb(172, 0, 0);
    color: azure;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.modulos{
    height: 50px;
    background-color: rgb(172, 0, 0);
    color: azure;
    padding: 20px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.aula {
    background-color: rgb(238, 53, 53);
    color: rgb(221, 255, 191);
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
body{
    background-color: #E6CCBA;
    font-family: Arial, Helvetica, sans-serif;
}



